temporizador.txt
backend/maxitoken.txt

*.class
*.log

.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

target/
*.class
*.jar
*.war
.mvn/
mvnw
mvnw.cmd
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd

node_modules/
dist/
dist-ssr/
frontend/node_modules/
frontend/dist/
coverage/

.env
.env.local
.env.*.local
backend/src/main/resources/application-secret.properties
