.frame-checkbox-painel{
    padding: 2em;
    font-size: 1.5em;
}

.frame-caixas-selecao{
    color: black;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 2em; 
    margin-bottom: 1em;
}

.frame-caixas-selecao select{
        width: 20em;
}

.titulo-cabeceira{
    font-weight:normal;
}

.frame-checkbox-extra{
    padding: 2em;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1em; 
    font-size: 1em;
    color: black;
}

select{
        width: 15em;
}