.frame-checkbox-painel{
    margin-top: 1.2em;
    /* padding: 1em; */
    /* background-color: rebeccapurple; */
    font-size: 2em;
}

.frame-caixas-selecao{
    color: black;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 2em; 
    margin-bottom: 1em;
}

.frame-caixas-selecao select{
        width: 100%
}

.titulo-cabeceira{
    font-weight:normal;
}

.frame-checkbox-extra{
    padding: 1em;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1em; 
    font-size: 1.2em;
    color: black;
}