.main-footer{
    color: black;
}

.frame-config{
    padding: 1em;
}

.config-config{
    color: var(--cinza);
    background: #FFFFFF;
    border: var(--cinza);
    box-shadow: 0em 0em 1em 0em   rgba(0, 0, 0, 0.05);
    border-radius: 30em;
    padding: 0.5em;

    max-width: 20em;
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 1em;
}

.gerar-pdf{
    background-color: var(--azul-primario);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 0.5em;
    max-width: 20em;
    margin: 0 auto
}

.gerar-pdf:hover{
    cursor: pointer;
    background-color: color-mix(in srgb, var(--azul-primario) 90%, black);
}
