.main-footer{
    color: black;
    padding: 1rem;
}

.config-config{
    color: var(--corDesfoqueFraco);
    background: #FFFFFF;
    border: var(--corDesfoqueFraco);
    box-shadow: 0em 0em 1em 0em   rgba(0, 0, 0, 0.05);
    border-radius: 0.7em;
    padding: 0.5em;

    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 1em;
}

.gerar-pdf{
    background-color: var(--corPrincipal);
    color: white;
    font-weight: bold;
    border-radius: 0.7em;
    padding: 0.5em;
    margin: 0 auto
}

.gerar-pdf:hover{
    cursor: pointer;
    background-color: color-mix(in srgb, var(--corPrincipal) 90%, black);
}
