.header-container {
  text-align: center;
}

.header-logo {
  max-width: 50vw;
  margin-bottom: var(--margem);
}

.header-title {
  font-size: 6vw;
  font-weight: medium;
  margin-bottom: var(--margem);
}