.modelselector-corpo{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}


.selector{
    padding: 0.5em;
    font-family: 'Poppins';
    user-select: none;

    max-width: 90%;
    margin: 0 auto;

    min-height: 15em;
    max-height: 15em;
    overflow-y: auto; 
	text-align: center;
}

.selector-border{
    border: 0.15em solid var(--azul-primario);
    border-radius: 0.7em;
    margin: 0 auto;
}

.modelo-opcao{
    padding: 0.3em;
}

.modelo-opcao:hover {
  background-color: color-mix(in srgb, white 97.5%, black);
  cursor: pointer;
}

.modelo-opcao.selecionado {
  background-color: var(--azul-primario);
  color: #FFFFFF;
  border-radius: 0.7em;
}

select:hover {
  cursor: pointer;
}

.headerSelect{
    text-align: left;
	color: var(--azul-primario);
}

.model-filter select{
  width: 100%;
}

/* scroll! */



.selector::-webkit-scrollbar {
  width: 0.3em; 
  background: transparent;
}

.selector::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
  margin: 1em;
}

.selector::-webkit-scrollbar-thumb {
  background-color: var(--azul-primario);
  border-radius: 0.7em;
  border: none;
}

.selector::-webkit-scrollbar-thumb:hover {
  background-color: var(--azul-primario);
}

.selector::-webkit-scrollbar-button {
  display: none;
}
