.main-pricing{
    padding: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.descricao{
    color: black;
}

.dinheiro{
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 1em;
}