.main-pricing{
    /* padding: 1em; */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* background-color: rebeccapurple; */
}

.unidade{
    margin: 2em;
}

.descricao{
    color: black;
}

.dinheiro{
    font-weight: bold;
    font-size: 2em;
    /* margin-bottom: 2em; */
}