.titulo-talha{
    background-color: var(--corPrincipal);
    border-radius: 0.7em;
    color: white;
    padding: 0.8em;
    margin-bottom: 1em;
}

.frame-all-info{
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    word-break: break-word;
    align-items: center;
}

.frame-all-info-esq{
    text-align: right;
    padding-right: 1em;
}

.frame-all-info-dir{
    text-align: left;
    padding-left: 1em;
}

img{
    max-width: 20rem;
}

.frame-imagem{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
