.app-container {
  background: var(--background);
  color: var(--corPrincipal);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin: 0.3em;
}

.app-corpo{
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 0.3rem;
}

.app-corpo .coluna{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}