.app-container {
  background: var(--corFundo);
  color: var(--corPrincipal);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin: 0.3em;
  background-color: var(--corFundoFundo);
}

.app-corpo{
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 0.3rem;
}

.app-corpo .coluna{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

@media (max-width: 768px) {

  .app-container {
    padding: 1rem;
    gap: 1rem;
  }

  .app-corpo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .app-corpo .coluna {
    gap: 1rem;
  }
}