.login__frame-branco{
    background: #FFFFFF;
    box-shadow: 0em 0em 1em 0em   rgba(0, 0, 0, 0.05);
    border-radius: 0.7em;
    padding: 5rem;
    flex-grow: 100%;
    margin: 5rem;
}

.login__frame-branco h1{
    font-size: 4rem;
    line-height: 1em;
}

.login__frame-branco label{
    font-size: 2rem;
    line-height: 1em;
}

.login__frame-branco__labelCampo{
    display: flex;
    flex-direction: column;
}