.main-footer{
    color: black;
    padding: 1rem;
}

.config--retangulo_branco{
    user-select: none;
    color: var(--corDesfoqueFraco);
    background-color: #ffffff;
    border: var(--corDesfoqueFraco);
    box-shadow: 0em 0em 1em 0em   rgba(0, 0, 0, 0.05);
    border-radius: 0.7em;
    padding: 1em;
    overflow: hidden;
    display: flex;
    max-width: 100%;
    align-items: center;
    line-height: 1em;
    justify-content: space-between;
    gap: 1em;
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 1em;
    box-sizing: border-box;
}

.config--retangulo_branco button{
    max-height: 1.3em;
    color: var(--corPrincipal);
    background-color: rgba(0, 0, 0, 0.0);
    box-shadow: 0em 0em 0em 0em;
    padding: 0em;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 0.7em;
    align-items: center;
    padding: 1em;
}

.config--retangulo_branco button:hover{
    background-color: var(--corDesfoqueForte);
}

.config--retangulo_branco--esquerda{
    display: flex;
    flex: 1;
    min-width: 0;
    align-items: center;
    overflow-wrap:anywhere;
    width: 100%;
    line-height: var(--lineHeight);
}

.config--retangulo_branco--esquerda p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    width: 100%;
    display: block;
}


.config--retangulo_branco--direita{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.5em;
}

.gerar-pdf {
    background-color: var(--corPrincipal);
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 0.7em;
    padding: 1em;
    margin: 0 auto;
    line-height: 1em;
    width: 30%;
    transition: transform 0.1s ease-out, background-color 0.2s ease;
    user-select: none;
    box-shadow: 0em 0em 1em 0em   rgba(0, 0, 0, 0.05);
}

.gerar-pdf:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--corPrincipal) 90%, black);
}

.gerar-pdf:active {
    transform: scale(0.95);
}
