@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.main-footer{
    color: var(--corTexto);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.config--retangulo_branco{
    user-select: none;
    color: var(--corDesfoqueFraco);
    background-color: var(--corFundo);
    border: var(--corDesfoqueFraco);
    box-shadow: 0em 0em 1em 0em   var(--corSombra);
    border-radius: 0.7em;
    padding: 1em;
    overflow: hidden;
    display: flex;
    max-width: 100%;
    align-items: center;
    line-height: 1em;
    justify-content: space-between;
    gap: 1em;
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 1em;
    box-sizing: border-box;
}

.config--retangulo_branco button{
    max-height: 1.3em;
    color: var(--corPrincipal);
    background-color:var(--corFundo);
    box-shadow: 0em 0em 0em 0em;
    padding: 0em;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 0.7em;
    align-items: center;
    padding: 1em;
}

.config--retangulo_branco button:disabled{
    color: var(--corDesfoqueFraco);
    cursor: default;
}

.config--retangulo_branco--esquerda{
    display: flex;
    flex: 1;
    min-width: 0;
    align-items: center;
    overflow-wrap:anywhere;
    width: 100%;
    line-height: var(--lineHeight);
}

.config--retangulo_branco--esquerda p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    width: 100%;
    display: block;
}


.config--retangulo_branco--direita{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.5em;
}

.gerar-pdf {
    background-color: var(--corPrincipal);
    color: var(--corFundo);
    font-weight: bold;
    text-align: center;
    border-radius: 0.7em;
    padding: 1em;
    margin: 0 auto;
    line-height: 1em;
    width: 30%;
    transition: transform 0.1s ease-out, background-color 0.2s ease;
    user-select: none;
    box-shadow: 0em 0em 1em 0em   var(--corSombra);
}

.gerar-pdf:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--corPrincipal) 90%, black);
}

.gerar-pdf:active {
    transform: scale(0.95);
}

.footer_frame_botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.main-footer .footer_frame_botoes button {
    width: 33%;
}

.import{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.1s ease-in-out;
    z-index: 1000;
}

.import .frame{
    background: var(--corFundo);
    box-shadow: 0em 0em 1em 0em   var(--corSombra);
    border-radius: 0.7em;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 20em;
    transform: 2.1s ease-in-out;
}

.import .body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.import h1{
    font-size: 2.5rem;
    line-height: 1em;
    color: var(--corPrincipal);
}

.import input{
    border: 0.15em solid var(--corPrincipal);
    border-radius: 0.7em;
    font-size: 1rem;
}

.import .erro{
    color: red;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out, opacity 0.2s ease-in;
}

.import .erro.true{
    max-height: 2em;
    opacity: 1;
}

.import .frame_botoes{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: flex-end;
}

.import .botao_branco{
    color: var(--corPrincipal);
    background-color:var(--corFundo);
    box-shadow: 0em 0em 0em 0em;
    padding: 0em;
    display: flex;
    max-width: 100%;
    border-radius: 0.7em;
    align-items: center;
    padding: 1em;
}

.cliente {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.1s ease-in-out;
    z-index: 1000;
}

.cliente .frame {
    background: var(--corFundo);
    box-shadow: 0em 0em 1em 0em   var(--corSombra);
    border-radius: 0.7em;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 20em;
    transform: 2.1s ease-in-out;
}

.cliente h1{
    font-size: 2.5rem;
    line-height: 1em;
    color: var(--corPrincipal);
}

.cliente input{
    border: 0.15em solid var(--corPrincipal);
    border-radius: 0.7em;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.cliente .body{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cliente .input_com_label {
    gap: 0rem;
    width: 15rem;
}

.cliente .fileira {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.preencher {
    flex: 1;
}

.cliente .botao_branco{
    color: var(--corPrincipal);
    background-color:var(--corFundo);
    box-shadow: 0em 0em 0em 0em;
    padding: 0em;
    border-radius: 0.7em;
    align-items: center;
    padding: 1em;
}

.cliente .frame_botoes{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: flex-end;
}