@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.main-footer{
    color: var(--corTexto);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1;
}

.frame-config{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.config--retangulo_branco{
    user-select: none;
    color: var(--corDesfoqueFraco);
    background-color: var(--corFundo);
    border: var(--corDesfoqueFraco);
    box-shadow: var(--sombraPadrao);
    border-radius: 0.7em;
    padding: 1em;
    overflow: hidden;
    display: flex;
    max-width: 100%;
    align-items: center;
    line-height: 1em;
    justify-content: space-between;
    
    box-sizing: border-box;
}

.config--retangulo_branco button{
    max-height: 1.3em;
    color: var(--corPrincipal);
    background-color:var(--corFundo);
    box-shadow: 0em 0em 0em 0em;
    padding: 0em;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 0.7em;
    align-items: center;
    padding: 1em;
}

.config--retangulo_branco button:disabled{
    color: var(--corDesfoqueFraco);
    cursor: default;
}

.config--retangulo_branco--esquerda{
    display: flex;
    flex: 1;
    min-width: 0;
    align-items: center;
    overflow-wrap:anywhere;
    width: 100%;
    line-height: var(--lineHeight);
}

.config--retangulo_branco--esquerda p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    width: 100%;
    display: block;
}


.config--retangulo_branco--direita{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.5em;
}

.gerar-pdf {
    background-color: var(--corPrincipal);
    color: var(--corFundo);
    font-weight: bold;
    text-align: center;
    border-radius: 0.7em;
    padding: 1em;
    margin: 0 auto;
    line-height: 1em;
    width: 30%;
    transition: transform 0.1s ease-out, background-color 0.2s ease;
    user-select: none;
    box-shadow: var(--sombraPadrao);
}

.gerar-pdf:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--corPrincipal) 90%, black);
}

.gerar-pdf:active {
    transform: scale(0.95);
}

.footer_frame_botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.footer_frame_botoes.admbutton {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content:flex-end;
}

.footer_frame_botoes.admbutton button {
    color: var(--corPrincipal);
    background-color:var(--corFundoFundo);
    border: 0.15rem solid var(--corPrincipal);
    width: 50%;
}

.footer_frame_botoes button {
    width: 33%;
}

.import{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.1s ease-in-out;
    z-index: 1000;
}

.import .frame{
    background: var(--corFundo);
    box-shadow: var(--sombraPadrao);
    border-radius: 0.7em;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 20em;
    transform: 2.1s ease-in-out;
}

.import .body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.import h1{
    font-size: 2.5rem;
    line-height: 1em;
    color: var(--corPrincipal);
}

.erro{
    color: red;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out, opacity 0.2s ease-in;
}

.erro.true{
    max-height: 2em;
    opacity: 1;
}

.import .frame_botoes{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: flex-end;
}

.botao_branco {
    color: var(--corPrincipal);
    background-color:var(--corFundo);
    box-shadow: 0em 0em 0em 0em;
    padding: 0em;
    border-radius: 0.7em;
    align-items: center;
    padding: 1em;
}

.cliente {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.1s ease-in-out;
    z-index: 1000;
}

.cliente .frame {
    background: var(--corFundo);
    box-shadow: var(--sombraPadrao);
    border-radius: 0.7em;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.cliente h1{
    font-size: 2.5rem;
    line-height: 1em;
    color: var(--corPrincipal);
}

.cliente input{
    border: 0.15em solid var(--corPrincipal);
    border-radius: 0.7em;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.cliente .body_import,
.cliente .body_cliente{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.2s ease;
    overflow: hidden;
}

.cliente .body_import {
    gap: 1rem;
}

.cliente .body_cliente.open{
    max-height: 30rem;
    opacity: 1;
}

.cliente .body_import.open{
    max-height: 30rem;
    opacity: 1;
}

.cliente .input_com_label {
    gap: 0rem;
    width: 15rem;
}

.cliente .fileira {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.cliente .body_import .fileira {
    gap: 1rem;
    align-items: flex-end;
}

.preencher {
    flex: 1;
}

.cliente .frame_botoes {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
}

.cliente .frame_botoes .dir,
.cliente .frame_botoes .esq{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.main-footer .selector.footer{
    padding: 0.5em;
    font-family: 'Poppins';
    user-select: none;

    max-width: calc(100% - 2em);;
    transition: max-height 0.2s ease-out, opacity 0.2s ease-in;
    min-height: 10em;
    max-height: 10em;
    overflow-y: auto; 
	text-align: left;
}

.main-footer .selector-border.footer{
    transition: max-height 0.2s ease-out, opacity 0.2s ease-in;
    border: 0.15rem solid var(--corPrincipal);
    border-radius: 0.7em;
    margin: 0;
    max-width: 100%;
    flex: 1;
    max-height: 0;
    opacity: 0;
}

.main-footer .selector-border.open.footer{
    max-height: 11em;
    opacity: 1;
}

.main-footer .modelo-opcao.footer{
    padding: 0.3em;
    border-radius: 0.7em;
    transition: none;
}
  
.main-footer .modelo-opcao.footer:hover {
    transition: opacity 0.2s;
    filter: brightness(0.975);
    background-color: var(--corFundo);
    cursor: pointer;
}

.pdf {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.1s ease-in-out;
    z-index: 1000;
}

.pdf .frame {
    background: var(--corFundo);
    box-shadow: var(--sombraPadrao);
    border-radius: 0.7em;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    gap: 1rem;
    height: 90vh;
    width: 90vw;
}

.pdf button {
    width: 10%;
    align-self: flex-end;
}

.adm {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.1s ease-in-out;
    z-index: 1000;
}

.adm .frame {
    background: var(--corFundoFundo);
    box-shadow: var(--sombraPadrao);
    border-radius: 0.7em;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 80%;
    height: 80%;
}

.adm h1{
    font-size: 2rem;
    line-height: 1em;
    color: var(--corPrincipal);
}

.adm .frame .menu {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.adm .frame .menu button {
    box-shadow: var(--sombraPadrao);
    border: 0.15rem solid var(--corPrincipal);  
}

.adm .frame .menu button.active {
    background-color: var(--corPrincipal);
    color: var(--corFundo);
}

.adm .frame .direita {
    background: var(--corFundo);
    border-radius: 0.7em;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.adm .frame .direita .main {
    background: var(--corFundo);
    box-shadow: var(--sombraPadrao);
    border-radius: 0.7em;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.adm .frame .direita .embaixo {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.adm .registrar {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    align-items: center;
}

.adm h1 {
    align-self: flex-start;
    margin-bottom: 1em;
}

.adm .registrar .body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    justify-content: center;
    width: 50%;
}

.adm .registrar .input_com_label {
    display: flex;
    flex-direction: column;
}

.adm .listar {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    gap: 1rem;
}

.adm .listar .table {
    width: 100%;
    border: 0.15rem solid var(--corPrincipal);
    background-color: var(--corFundo);
    border-radius: 0.7em;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.adm .listar .table .header {
    display: flex;
    flex-direction: row;
    background-color: var(--corPrincipal);
    color: var(--corFundo);
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    gap: 0;
}

.adm .listar .table .body {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 1em;
}


.listar .table .row {
    display: flex;
    flex-direction: row;
    padding: 1em;
    border-bottom: 1px solid color-mix(in srgb, var(--corFundo) 90%,black);
    background-color: var(--corFundo);
}

.listar .table .row.selecionado {
    filter: brightness(0.95);
}

.listar .table .col {
    flex: 1;
    word-break: break-all;
}


.adm .listar .table .body::-webkit-scrollbar {
  width: 0.5em; 
  background: transparent;
}

.adm .listar .table .body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
    margin: -0.2em;
}

.adm .listar .table .body::-webkit-scrollbar-thumb {
    background-color: var(--corPrincipal);
    border-radius: 0.7em;
    border: none;
}

.adm .listar .table .body::-webkit-scrollbar-thumb:hover {
    background-color: var(--corPrincipal);
}

.adm .listar .table .body::-webkit-scrollbar-button {
  display: none;
}

.adm .template {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.adm .template .body .botao_branco.download {
    padding: 0.5rem;
}

.adm .template .body .botao_branco.remover {
    padding: 0;
}

.adm .template .body .botao_branco.upload {
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 10rem;
    box-shadow: 0em 0em 0.5em 0em   rgba(0, 0, 0, 0.1);
    font-size: 2em;
    transition: box-shadow 0.1s ease-in-out;
    justify-content: center;
    user-select: none;
}

.adm .template .body .botao_branco.upload:hover {
    width: 10rem;
    height: 10rem;
    box-shadow: 0em 0em 0em 0em   rgba(0, 0, 0, 0.01);
    font-size: 2em;
    filter: brightness(0.975);
    cursor: pointer;
}

.adm .template .body .botao_branco.upload span{
    font-size: 2em;
}

.adm .template .body {
    display: flex;
    flex-direction: column;
    gap: 4em;
    width: 50%;
}

.adm .template .body .titulo {
    font-size: 1.5em;
}

.adm .template .body .linha {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.adm .template .body .linha.upload {
    gap: 1rem;
}

.adm .template .body .coluna {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.adm .template .body .texto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.adm .template .body .arquivoinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.adm .template .body .arquivoinfo.nenhum {
    justify-content: flex-end;
}

.adm .template .body .carregado {
    font-size: 2em;
    line-height: 1em;
    color: var(--corPrincipal);
}

.acoes-usuario {
    background: var(--corFundo);
    box-shadow: var(--sombraPadrao);
    border-radius: 0.7em;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    transition: max-height 0.2s ease-out, opacity 0.2s ease-in;
    justify-content: space-between;
}

.acoes-usuario--closed {
    opacity: 0;
    max-height: 0;
}

.acoes-usuario__esq, 
.acoes-usuario__dir {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}