.loading-dots-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  height: var(--lineHeight);
}

.loading-dot {
  width: 0.3rem;
  height: 0.3rem;
  background-color: var(--corPrincipal); 
  border-radius: 50%;
  animation: 
    entry-bounce 0.3s ease-out forwards, 
    loop-bounce  1.2s ease-in-out 0.3s infinite;
}

.loading-dot:nth-child(1) {
  animation-delay: 0.5s, 0.8s;
}

.loading-dot:nth-child(2) {
  animation-delay: 0.7s, 1.0s;
}

.loading-dot:nth-child(3) {
  animation-delay: 0.9s, 1.2s;
}

@keyframes entry-bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-3px);
  }
}

@keyframes loop-bounce {
  0%, 100% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px);
  }
}