.modelselector-corpo{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}


.selector{
    padding: 0.5em;
    font-family: 'Poppins';
    user-select: none;

    max-width: 90%;
    margin: 0 auto;

    min-height: 15em;
    max-height: 15em;
    overflow-y: auto; 
	  text-align: center;
}

.selector-border{
    border: 0.15rem solid var(--corPrincipal);
    border-radius: 0.7em;
    margin: 0 auto;
}

.modelo-opcao{
    padding: 0.3em;
    border-radius: 0.7em;
    background-color: var(--corFundo);
    transition: filter 0.2s ease, background-color 0.5s ease;
}

.modelo-opcao:hover {
  transition: opacity 0.2s;
  filter: brightness(0.975);
  cursor: pointer;
}

.modelo-opcao.selecionado {
  /* transition: none; */
  background-color: var(--corPrincipal);
  color: var(--corFundo);
}

.model-filter select{
  width: 100%;
}

/* scroll! */



.selector::-webkit-scrollbar {
  width: 0.4em; 
  background: transparent;
}

.selector::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
  margin: 1em;
}

.selector::-webkit-scrollbar-thumb {
  background-color: var(--corPrincipal);
  border-radius: 0.7em;
  border: none;
}

.selector::-webkit-scrollbar-thumb:hover {
  background-color: var(--corPrincipal);
}

.selector::-webkit-scrollbar-button {
  display: none;
}
