.frame-checkbox-painel{
    padding: 1em;
    font-size: 2em;
}

.frame-caixas-selecao{
    color: var(--corTexto);
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    place-items: left;
    margin-bottom: 1em;
}

.frame-unidade-caixa-selecao {
    width: 100%;
}

.titulo-cabeceira{
    font-weight:normal;
}

.frame-checkbox-extra{
    display: flex;
    flex-direction: column;
    place-items: left;
    color: var(--corTexto);
    gap: 0.2rem;
}