:root {
    font-family: 'Poppins';

    --corPrincipal: #1A365D;
    --corSelecao: #77879E;
    --corTexto: #000000;
    --corFundo: #ffffff;
    --corFundoFundo: var(--corFundo);
    --corSombra: rgba(0, 0, 0, 0.05);
    --corDesfoqueFraco: color-mix(in srgb, var(--corFundo) 66%, var(--corTexto));;
    --corDesfoqueForte: color-mix(in srgb, var(--corFundo) 97.5%, var(--corTexto));;
    --sombraPadrao: 0em 0em 1em 0em var(--corSombra);
    --sombraBotao: 0em 0em 0.5em 0em   rgba(0, 0, 0, 0.1);
    
    font-size: 12px;
    --lineHeight: 1.5em;
    line-height: var(--lineHeight);
}

[data-theme="dark"] {
    --corPrincipal: #77879E;
    --corSelecao: #1A365D;
    --corTexto: #ffffff;
    --corFundo: #1c2130;
    --corFundoFundo: #191d2a;
    --corSombra: rgba(0, 0, 0, 0.2);
    --sombraPadrao: 0em 0em 0em 0em var(--corSombra);
    --sombraBotao: 0em 0em 0.5em 0.2em   rgba(0, 0, 0, 0.2);
}

html {
    background-color: var(--corFundoFundo);
}

body {
    margin: 0.3rem;
    background-color: var(--corFundoFundo);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h2 {
    font-size: 1em;
}

h1 {
    font-size: 1em;
}

hr {
    border: none;
    height: 0.1em;
    background-color: var(--corDesfoqueFraco);
    opacity: 0.1;
    border-radius: 0.7em;
    margin: 2.5em;
}

input[type="checkbox"] {
    margin: 0;
}

label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

* {
    transition: background-color 0.5s ease, color 0.5s ease;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.headerSelect{
    text-align: left;
	color: var(--corPrincipal);
}

.headerSelect.disabled{
	color: var(--corDesfoqueFraco);
}

.frame-caixas-selecao select{
        width: 100%;
}

select {
    font-family: 'Poppins';
    color: var(--corTexto);
    border: 0.15rem solid var(--corPrincipal);
    background-color: var(--corFundo);
    border-radius: 0.7em;
    padding: 0.2em;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    text-indent: 0;
}

button {
    font-family: 'Poppins';
    background-color: var(--corPrincipal);
    color: var(--corFundo);
    font-weight: bold;
    text-align: center;
    border-radius: 0.7em;
    padding: 1em;
    line-height: 1em;
    user-select: none;
    box-shadow: var(--sombraPadrao);
    cursor: pointer;
    border-width: 0;
    transition: filter 0.1s ease-out, transform 0.1s ease, background-color 0.5s ease, color 0.5s ease;
}

button:hover{
    filter: brightness(0.9);
}

button:active{
    transform: scale(0.95);
}

button:disabled {
    background-color: var(--corDesfoqueFraco);
    cursor: default;
}

.config--retangulo_branco button:disabled:hover{
    filter: brightness(1);
}

input {
    font-family: 'Poppins';
    padding: 0.2em;
    text-indent: 0.3em;
    line-height: 1em;
    background-color: var(--corFundo);
    border: 0.15em solid var(--corPrincipal);
    border-radius: 0.7em;
    color: var(--corTexto);
    font-size: 1.1rem;
    box-sizing: border-box;
}

select:disabled {
    font-family: 'Poppins';
    border: 0.15rem solid var(--corDesfoqueFraco);
    border-radius: 0.7em;
    padding: 0.2em;
    opacity: 1;
    color: var(--corDesfoqueFraco);
    cursor: default;
}

.checkbox-item-disabled
{
  color: var(--corDesfoqueFraco);
}

.frame-branco{
    background: var(--corFundo);
    box-shadow: var(--sombraPadrao);
    border-radius: 0.7em;
    padding: 1rem;
    flex-grow: 100%;
}


:focus-visible {
    outline: 3px solid var(--corSelecao);
    outline-offset: -2px;
}


