:root {
  font-family: 'Poppins';
  
  --azul-primario: #1A365D;
  --cinza: #53565A;
  --texto: #000000;
  --fundo: #ffffff;

  font-size: 15px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

hr {
  border: none;
  height: 0.1em;
  background-color: var(--cinza);
  opacity: 0.1;
  border-radius: 30px;
  margin: 2.5em;
}

input[type="checkbox"] {
      width: 2em;
      height: 1em;
}

.frame-branco{
    background: #FFFFFF;
    box-shadow: 0em 0em 1em 0em   rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    padding: 2em;

    max-width: 35em;
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 1em;
}

.frame-branco-title{
    margin-bottom: 1em;
    padding: 0.5em;
}

