:root {
  font-family: 'Poppins';
  
  --azul-primario: #1A365D;
  --cinza: #53565A;
  --texto: #000000;
  --fundo: #ffffff;

  font-size: 12px;
}

body {
  margin: 0.3rem;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h2 {
  font-size: 1em;
}

h1 {
  font-size: 1em;
}

hr {
  border: none;
  height: 0.1em;
  background-color: var(--cinza);
  opacity: 0.1;
  border-radius: 0.7em;
  margin: 2.5em;
}

input[type="checkbox"] {
      width: 2em;
      height: 1em;
}

.checkbox-item-disabled
{
  color: var(--cinza);
  opacity: 50%;
}

.frame-branco{
    background: #FFFFFF;
    box-shadow: 0em 0em 1em 0em   rgba(0, 0, 0, 0.05);
    border-radius: 0.7em;
    padding: 1rem;
    flex-grow: 100%;
}



