:root {
    font-family: 'Poppins';

    --corPrincipal: #1A365D;
    --corSelecao: #77879E;
    --corTexto: #000000;
    --corFundo: #ffffff;
    --corSombra: rgba(0, 0, 0, 0.05);
    --corDesfoqueFraco: color-mix(in srgb, var(--corFundo) 66%, var(--corTexto));;
    --corDesfoqueForte: color-mix(in srgb, var(--corFundo) 97.5%, var(--corTexto));;
    

    font-size: 12px;
    --lineHeight: 1.5em;
    line-height: var(--lineHeight);
    background-color: var(--corFundo);
}

[data-theme="dark"] {
    --corPrincipal: #77879E;
    --corSelecao: #1A365D;
    --corTexto: #ffffff;
    --corFundo: #1c2430;
    --corSombra: rgba(0, 0, 0, 0.2);
}

body {
    margin: 0.3rem;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h2 {
    font-size: 1em;
}

h1 {
    font-size: 1em;
}

hr {
    border: none;
    height: 0.1em;
    background-color: var(--corDesfoqueFraco);
    opacity: 0.1;
    border-radius: 0.7em;
    margin: 2.5em;
}

input[type="checkbox"] {
    width: 2em;
    height: 1em;
}

* {
    transition: background-color 0.5s ease, color 0.5s ease;
}

.headerSelect{
    text-align: left;
	color: var(--corPrincipal);
}

.headerSelect.disabled{
	color: var(--corDesfoqueFraco);
}

.frame-caixas-selecao select{
        width: 100%;
}

select {
    font-family: 'Poppins';
    color: var(--corTexto);
    border: 0.15rem solid var(--corPrincipal);
    background-color: var(--corFundo);
    border-radius: 0.7em;
    padding: 0.2em;
    width: 100%;
    cursor: pointer;
}

button {
    font-family: 'Poppins';
    background-color: var(--corPrincipal);
    color: var(--corFundo);
    font-weight: bold;
    text-align: center;
    border-radius: 0.7em;
    padding: 1em;
    line-height: 1em;
    user-select: none;
    box-shadow: 0em 0em 1em 0em   var(--corSombra);
    cursor: pointer;
    border-width: 0;
}

button:hover{
    transition: filter 0.2s ease, transform 0.1s ease;
    filter: brightness(0.975);
}

button:disabled {
    background-color: var(--corDesfoqueFraco);
    cursor: default;
}

.config--retangulo_branco button:disabled:hover{
    filter: brightness(1);
}

input {
    font-family: 'Poppins';
    padding: 0.5em;
    line-height: 1em;
    background-color: var(--corFundo);
    border: 0.15em solid var(--corPrincipal);
    border-radius: 0.7em;
    color: var(--corTexto);
    font-size: 1rem;
}

select:disabled {
    font-family: 'Poppins';
    border: 0.15rem solid var(--corDesfoqueFraco);
    border-radius: 0.7em;
    padding: 0.2em;
    opacity: 1;
    color: var(--corDesfoqueFraco);
    cursor: default;
}

.checkbox-item-disabled
{
  color: var(--corDesfoqueFraco);
}

.frame-branco{
    background: var(--corFundo);
    box-shadow: 0em 0em 1em 0em   var(--corSombra);
    border-radius: 0.7em;
    padding: 1rem;
    flex-grow: 100%;
}


:focus-visible {
    outline: 3px solid var(--corSelecao);
    outline-offset: -2px;
}


