:root {
  font-family: 'Poppins';
  
  --corPrincipal: #1A365D;
  --corDesfoqueFraco: color-mix(in srgb, white 66%, var(--corTexto));;
  --corDesfoqueForte: color-mix(in srgb, white 97.5%, var(--corTexto));;
  --corTexto: #000000;
  --corFundo: #ffffff;

  font-size: 12px;
}

body {
  margin: 0.3rem;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h2 {
  font-size: 1em;
}

h1 {
  font-size: 1em;
}

hr {
  border: none;
  height: 0.1em;
  background-color: var(--corDesfoqueFraco);
  opacity: 0.1;
  border-radius: 0.7em;
  margin: 2.5em;
}

input[type="checkbox"] {
      width: 2em;
      height: 1em;
}

.headerSelect{
    text-align: left;
	color: var(--corPrincipal);
}

.headerSelect.disabled{
	color: var(--corDesfoqueFraco);
}

select {
    font-family: 'Poppins';
    border: 0.15em solid var(--corPrincipal);
    border-radius: 0.7em;
    padding: 0.2em;
}

select:disabled {
    font-family: 'Poppins';
    border: 0.15em solid var(--corDesfoqueFraco);
    border-radius: 0.7em;
    padding: 0.2em;
    opacity: 1;
    color: var(--corDesfoqueFraco);
}

.checkbox-item-disabled
{
  color: var(--corDesfoqueFraco);
}

.frame-branco{
    background: #FFFFFF;
    box-shadow: 0em 0em 1em 0em   rgba(0, 0, 0, 0.05);
    border-radius: 0.7em;
    padding: 1rem;
    flex-grow: 100%;
}



