.pagamento__background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.1s ease-in-out;
    z-index: 1000;
    box-sizing: border-box;
    padding: 1rem;
}

.pagamento__window {
    background: var(--corFundoFundo);
    box-shadow: var(--sombraPadrao);
    border-radius: 0.7em;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    box-sizing: border-box;
    max-height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

.pagamento__window__header h1 {
    font-size: 2.5rem;
    line-height: 1em;
    color: var(--corPrincipal);
}

.pagamento__window__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

.pagamento__window__header__infobar {
    background: var(--corFundo);
    box-shadow: var(--sombraPadrao);
    border-radius: 0.7em;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
    gap: 4em;
    justify-content: space-between;
}

.pagamento__window__header__infobar__clientecontato {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.pagamento__window__header__infobar__idorcamento {
    display: flex;
    flex-direction: row;    
}

.pagamento__window__header__infobar__labelContent {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.pagamento__window__header__infobar__labelContent h2{
    color: var(--corPrincipal);
    font-size: 1.25em;
}

.pagamento__window__header__infobar__labelContent p{
    color: var(--corTexto);
}


.pagamento__window__main {
    display: flex;
    flex-direction: row;
    gap: 3em;
    column-fill: auto;
    box-sizing: border-box;
}

.pagamento__window__main__coluna1,
.pagamento__window__main__coluna2,
.pagamento__window__main__coluna3 {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 20em;
}

.pagamento__window__main__combobox h4 {
    color: var(--corPrincipal);
}

.pagamento__window__main__combobox {
    break-inside: avoid;
    page-break-inside: avoid;
    margin-bottom: 1.5rem;
    width: 20em;
}

.pagamento__window__main__combobox select {
    padding: 0.5em;
}

.pagamento__window__main__combobox input {
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
}

.pagamento__window__main__combobox textarea {
    width: 100%;
    font-family: 'Poppins';
    background-color: var(--corPrincipal);
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--corTexto);
    border: 0.15rem solid var(--corPrincipal);
    background-color: var(--corFundo);
    border-radius: 0.7em;
    resize: none;
    box-sizing: border-box;
}

.pagamento__window__main__combobox:last-child {
    margin-bottom: 0;
}

.pagamento__window__footer {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.pagamento__window__main__dupla {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.pagamento__window__main__dupla:last-child {
    margin-bottom: 0;
}

.pagamento__window__main__preco {
    display: flex;
    flex-direction: column;
    background: var(--corFundo);
    box-shadow: var(--sombraPadrao);
    border-radius: 0.7em;
    padding: 1rem;
    flex: 1;
    overflow: hidden;
    gap: 1em;
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
}

.pagamento__window__main__preco__linha {
    display: flex;
    flex-direction: row;
    gap: 0.3em;
}

.pagamento__window__main__preco__linha--final {
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    margin-top: auto
}

.pagamento__window__main__preco__linha__tag {
    text-align: left;
    min-width: max-content;
}

.pagamento__window__main__preco__linha__valor {
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

.pagamento__window__main__preco__linha__pontinhos {
    flex: 1;
    border-bottom: 2px dotted var(--corTexto);
    opacity: 0.2;
    margin: 0.3em;
}

.pagamento__window::-webkit-scrollbar {
  width: 0.2rem; 
  height: 0.2rem; 
  background: transparent;
}
.pagamento__window::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
    margin: 1rem;
}
.pagamento__window::-webkit-scrollbar-thumb {
    background-color: var(--corPrincipal);
    border-radius: 0.7rem;
    border: none;
}
.pagamento__window::-webkit-scrollbar-thumb:hover {
    background-color: var(--corPrincipal);
}
.pagamento__window::-webkit-scrollbar-button {
  display: none;
}

@media (max-width: 768px) {

    .pagamento__window__header {
        flex-direction: column;
    }

    .pagamento__window__header__infobar {
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
    }

    .pagamento__window__header__infobar__clientecontato {
        flex-direction: column;
    }

    .pagamento__window__main__coluna1,
    .pagamento__window__main__coluna2,
    .pagamento__window__main__coluna3 {
        max-width: 100%;
    }

    .pagamento__window__main__combobox {
        width: 100%;
    }

    .pagamento__window__header__infobar {
        flex-direction: column;
        gap: 2em;
    }
    
    .pagamento__window__main {
        flex-direction: column;
        gap: 2rem;
    }

    
}
